{port_sources, ["c_src/*.c"]}.
{so_name, "proj4erl_nif.so"}.

{port_envs, [
             %% Make sure to link -lstdc++
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "LDFLAGS", "$LDFLAGS -lproj"}
            ]}.

% {require_otp_vsn, "R13B04|R14"}.

% {erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
% {port_envs, [
%     {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}
% ]}.

% {so_specs, [
%     {"priv/proj4erl_nif.so", ["c_src/proj4erl_nif.o"]}
% ]}.

% {eunit_opts, [verbose]}.
